/***** AULA 01 
h1 {color: blue;font-size: 60px;font-family: tahoma;text-align: center;}
*/


/***** AULA 02 E 03
* {margin: 0;padding: 0;}
h1 {color:blue;font-size:50px;}
p {color:green;font-size:12px;}
input[type="text"] {width: 200px;background-color: #ccc;height: 35px;border: none;}
input[type="email"] {width: 200px;background-color: #ccc;height: 35px; border: none;}
input[type="submit"] {width: 50px;background-color: green;height: 35px;border: none;cursor: pointer;color: #fff;}
*/ 


/***** AULA 04
h1, h2, p {color:red; text-align:center;}
*/


/***** AULA 05
.texto-principal {color:red; text-align:center;}
.fundo-principal {background-color:green; padding:20px;}
#conteudo {background-color:blue; padding:20px; color:green;}
*/


/***** AULA 06
#conteudo {min-width:500px; min-height:20px; background-color:green; color:#fff; padding:20px;}
*/


/***** AULA 07
#exemplo {background-color:green; color:#fff; width:500px; height: 200px; padding:10px 20px 30px 30px;}
#exemplo2 {background-color:red; color:#fff; width:500px; margin:20px 30px 20px 40px;}
*/


/***** AULA 08 E 09
p {color:red; text-transform:capitalize; text-align:justify; text-indent:20px; line-height:25px; direction:rtl; letter-spacing:2px; word-spacing:4px}
h1 {text-align:left; text-decoration:underline; text-shadow:5px 10px red;}
h2 {text-align:right; text-decoration:overline;}
h3 {text-align:center; text-decoration:line-through;}
*/


/***** AULA 10
*{box-sizing:border-box;}
#conteudo {background-color:red; width:300px; padding: 20px; box-shadow:10px 10px 5px green;}
*/


/***** AULA 11
#conteudo {background-color:red; width:300px; height:70px; overflow:auto;}
#conteudo p {opacity:0.5;}
*/


/***** AULA 12
#bloco{background-color:green; width:300px; height:150px; border-bottom-left-radius:20px;}
#bloco{background-color:green; width:300px; height:150px; border-top-right-radius:20px;}
#bloco{background-color:green; width:300px; height:150px; border-radius:20px;}
#bloco{background-color:green; width:300px; height:150px; border-radius:20px 30px 100px 200px;}
*/


/***** AULA 13, 14 E 15
*{font-size:100%;}

h1{font-family:Arial, Verdana, sans-serif; font-variant:small-caps; font-weight:bold; font-style:italic; font-size:2.5em;}

@font-face {
	font-family:alexbrush;
	src: url(alexbrush-regular-webfont.woff);
}

p{font-family:alexbrush; font-size:1.2em;}
*/


/***** AULA 16 E 17
#cores{width:200px; height:30px; background-color:blue;}
#cores1{width:200px; height:30px; margin-top:10px; background-color:#40b78b;}
#cores2{width:200px; height:30px; margin-top:10px; background-color:rgb(230, 89, 225);}
#cores3{width:200px; height:30px; margin-top:10px; background-color:rgba(230, 89, 225, 0.5);}
#cores4{width:200px; height:30px; margin-top:10px; background-color:hsl(20, 100%, 59%);}
#cores5{width:200px; height:30px; margin-top:10px; background-color:hsla(20, 100%, 59%, 0.2);}

#gradiente{width:200px; height:30px; margin-top:10px; background:linear-gradient(to left top, red, blue, green);}
#gradiente1{width:200px; height:30px; margin-top:10px; background:linear-gradient(75deg, rgba(255,0,0,0), blue, green);}
#gradiente2{width:200px; height:30px; margin-top:10px; background:radial-gradient(red, green);}
*/


/***** AULA 18
#base{background-color:green; width:600px; height:600px;}
#esquerda{background-color:red;width:300px;height:300px; float:left;}
#direita{background-color:blue;width:300px;height:300px; float:right;}
*/


/***** AULA 19
#conteudo{width:600px; height:1200px; background-color:red; position:relative;}
#texto{width:500px; background-color:green; position:absolute; left:0;top:0px;}
*/


/***** AULA 20
#exemplo{border-style:solid; border-width:5px; border-color:red;}
#exemplo2{border:dashed 2px pink;}
#exemplo3{border-top:dotted 3px blue;}
#exemplo4{border-left:double 4px green;}
#exemplo5{border-right:groove 1.5px black;}
#exemplo6{border-bottom:ridge 4px yellow;}
#exemplo7{border-style:inset; outline:dotted 5px green;}
#exemplo8{border-style:outset;}
*/


/***** AULA 21
#exemplo{width:70px; height:70px; background-color:red; margin-bottom: 10px; transition-property:width; transition-duration:2s; transition-timing-function:linear; transition-delay:2s;}
#exemplo:hover{width:100px; height:100px; background-color:green;}

#exemplo1{width:70px; height:70px; background-color:blue; margin-bottom: 10px; transition:width 2s linear 1s, height 2s linear;}
#exemplo1:hover{width:100px; height:100px; background-color:yellow;}

#exemplo2{width:70px; height:70px; background-color:grey; transition:all 2s linear;}
#exemplo2:hover{width:100px; height:100px; background-color:pink;}
*/


/***** AULA 22
body{background-image:url(../img/imagem.jpg); background-repeat:no-repeat; background-position:left bottom; background-attachment:fixed; background-size:100% 100%;}

body{background:url(../img/imagem.jpg)center center/100% 100% no-repeat fixed;}

p{background-color:red;}
*/